.layout-container > header {
	border: none;
	height: 80px;
	display: flex;
	align-items: center;
	padding: 0 100px 0 40px;
	background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
}

header > a {
	color: rgba(0, 0, 0, 0.8);
	font-size: 25px;
}

header > .repo-url-github {
	background-image: url(../../image/github.png) !important;
	background-position: center 90% !important;
	background-color: white !important;
	filter: invert(100%);

	width: 250px !important;
    height: 250px !important;
    background-size: 40px !important;
    transform: rotate(45deg);
    position: fixed;
    top: -150px;
    right: -150px;
}

header .search-input-edge {
	display: none !important;
}

header .search-input {
	visibility: visible;
	border: none !important;
	vertical-align: middle;
	width: 100% !important;
	height: 100%;
	font-size: 20px;
	padding-left: 35px;
	box-sizing: border-box;
}

header > .search-box {
	flex-grow: 0.8;
	height: 50%;
	position: relative;
	left: 20px;
	top: 0;
	right: 0;
	line-height: inherit;
	box-sizing: border-box;
	padding: 0;

	border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}

header > .search-box span {
	position: absolute;
	width: 100%;
	height: 100%;
}

header > .search-box img {
	position: absolute;
	margin: auto;
    top: 0;
    bottom: 0;
    left: 5px;
}

header > .search-box .search-result {
	margin-top: 39px;
	margin-left: 0px;
}

.navigation {
	border: none;
	padding-top: 100px;
	margin: none;
}

.content {
	padding-top: 120px;
	margin-top: 0;
}
